<h1>Listing notes</h1>

<%= form_tag notes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search],
      data: {autocomplete_source: tags_path, provide: 'typeahead' },
      :autocomplete => 'off' %>
    <%= submit_button "Search", :name => nil %>
  </p>
<% end %>

<% if @notes.count > 0 %>
  <table>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Content</th>
      <th>Tags</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.title %></td>
      <td><%= note.link %></td>
      <td><%= note.content %></td>
      <td><%= tag_links(note) %></td>
      <td><%= note.user.try(:name) %></td>
      <td><%= link_to 'Show', note %></td>
      <% if belongs_to_current_user(note) %>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  
  <%= paginate @notes %>

<% else %>

  <h3>Sorry, nothing found.</h3>

<% end %>

<br />

<%= link_to 'New Note', new_note_path %>
