<h1>Listing notes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Content</th>
    <th>Tags</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.name %></td>
    <td><%= note.link %></td>
    <td><%= note.content %></td>
    <td><%= tag_links(note) %></td>
    <td><%= if note.user then note.user.name end %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td>
      <% if belongs_to_current_user(note) %>
        <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @notes %>

<br />

<%= link_to 'New Note', new_note_path %>
