<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Link:</b>
  <%= @note.link %>
</p>

<p>
  <b>Content:</b>
  <%= @note.content %>
</p>

<p>
  <b>Tags:</b>
  <%= tag_links(@note) %>
</p>

<% if belongs_to_current_user(@note) %>
  <%= link_to 'Edit', edit_note_path(@note) %> | 
  <%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', notes_path %>
