<p>
  <b>Name:</b>
  <%= @note.name %>
</p>

<p>
  <b>Link:</b>
  <%= @note.link %>
</p>

<p>
  <b>Content:</b>
  <%= @note.content %>
</p>

<p>
  <b>Tags:</b>
  <%= tag_links(@note) %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
